footer {
  font-size: 1.4rem;
  width: 100%;
  bottom: 0;
  margin: 0px;
  border-top: 15px solid $primary;
  margin-top: 1rem;
  h4 {
    font-size: 1.8rem;
  }
  .footer_wrapper > li {
    padding: 1rem;
    width: 25%;
  }

  .contact_inform a {
    color: $primary;
  }
  .social_list li {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
  #form_sub {
    .form-group {
      margin-bottom: 1rem;
    }
    input {
      border-radius: 2rem;
      border: 1px solid $dark;
      padding: 2rem 1rem;
    }
  }
  .subscribeButton {
    background: #525252;
    background-image: -webkit-linear-gradient(top, #525252, $dark);
    background-image: -moz-linear-gradient(top, #525252, $dark);
    background-image: -ms-linear-gradient(top, #525252, $dark);
    background-image: -o-linear-gradient(top, #525252, $dark);
    background-image: linear-gradient(to bottom, #525252, $dark);
    text-shadow: 1px 1px 0px #2c2e38, 2px 2px 0px #5c5f72;
    box-shadow: 0px 1px 3px $primary;
    color: #f6f6f6;
    font-size: 135%;
    padding: 8px 13px 10px 13px;
    position: relative;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 4px;
    float: left;
    text-align: left;
    width: 60%;
    box-sizing: border-box;
    border-radius: 11px;
    right: 0;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
      border: 2px inset buttonface;
    }
    img {
      width: 18px;
      height: 18px;
      margin: 0px 0px 0px 0px;
      float: right;
      position: relative;
    }
  }
}
