.btn {
  font-size: 1.4rem;
}
.react-bootstrap-table {
  margin-top: 10px;
  tr,
  th,
  td {
    border: none;
    vertical-align: middle;
    border-bottom: none !important;
    padding-left: 0;
    padding-bottom: 0;
  }
  td {
    padding: 0 0 1rem 0;
  }
}

.page-link {
  &.disabled {
    color: #ccc;
  }
}

.btn-wrapper {
  .btn-warning {
    margin-right: 0.5rem;
    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  }
}

footer {
  background: #321741;
}

.navbar_custom {
  background: #321741 !important;
}

.video-introduce {
  max-height: 100%;
  max-width: 100%;
}
.text-secondary {
  color: $secondary;
}

.group-btn-wrapper {
  width: 100%;
}
.list-link {
  list-style: none;
  justify-content: space-around;
  padding-inline-start: 0;
  li {
    display: inline-block;
    a {
      width: 100px;
    }
  }
}
.form-control {
  font-size: 1.7rem;
  background: white;
  padding: 20px 10px;
}
